<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ryka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css')}}">
</head>

<body style="background-color: rgb(0,0,0);color: rgb(227,231,235);">
    <div class="container-fluid text-center" style="position: relative;background-image: url(&quot;{{ url_for('static', filename='assets/img/91447001_142678213829449_5851451340852559872_n.jpg')}}&quot;);height: 925px;background-position: center;background-repeat: no-repeat;background-size: contain;">
        <div class="col" style="position: absolute;bottom: 5px;">
            <h2 style="color: rgb(255,255,255);position: absolute;bottom: 119px;left: 35%;">|Scene | 22 FEVRIER AU 28 AVRIL 2019</h2>
        </div>
        <div class="col" style="color: rgb(255,255,255);margin-top: 45px;">
            <h1>ALEX MALOJI</h1>
            <h3>LA PHOTOGRAPHIE ENTRE EVENEMENTS ET NON EVENEMENTS</h3>
        </div>
    </div>
    <div class="container-fluid text-center" style="background-color: #000000;margin-top: 38px;background-image: url(&quot;{{ url_for('static', filename='assets/img/imageonline-co-merged-image.png')}}&quot;);height: 552px;width: 992px;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
        <p style="width: 663px;position: absolute;left: 20%;">Des manifestations politiques, des urgences humanitaires ou des moments paisibles de la vie quotidienne; Bien qu'hétéroclites, ces imanges semblent avoir un commun le même type de lumière ainsi qu'un certain sens de la thétrabilité. Le sentiment
            que nous sommes tous, acteurs, aux prises avec les différents rôles que l'histoire et les circonstances exigent de nous.</p>
        <p style="position: absolute;top: 126px;width: 275px;left: 40%;">Les photographies de Majoli sont le résultatas d'une action performée. En s'invitant dans une situation, son assistant et liui installent un appareil photographique et des lumières. Cette action est une sorte de spéctacle en soi, auquel assistent
            ceux qui seront photographiés. Majoli se met au travail sans donner aucune consigne, ni échanger aucune parole avec ces individus qui se trouvent être en train de vivre un moment devant son objectif. La prise de vue peut durer vingt minutes,
            une heure, ou plus encore. Parfois, les sujets modififient leur comportement en anticipant l'image à venir et changent délibéréent de posture. Il arrive souvent qu'ils soient trop occupés par l'intensité de ce qu'ils vivent pour y prêter attention.
            Dans les deux cas, la représentation du spectacle et le spectacle de la représentation finissent par ne faire qu'un.</p>
    </div>
    <div class="container-fluid text-center" style="position: relative;background-image: url(&quot;{{ url_for('static', filename='assets/img/91447001_142678213829449_5851451340852559872_n.jpg')}}&quot;);height: 890px;background-position: center;background-repeat: no-repeat;background-size: contain;margin-top: 165px;">
        <div class="col-lg-8 offset-lg-3 offset-xl-4 text-left" style="color: rgb(255,255,255);position: absolute;/*margin-top: 45px;*/top: 24%;">
            <h6 class="text-center" style="width: 691px;/*position: center;*//*margin-left: 146px;*/">&lt;&lt;Nous emploierons, pour mettre la réalité sous forme maîtrisable entre les mains des hommes, tous les procédés, les anciens et les nouveaux, les éprouvés et les inédits, ceux empruntés à l'art et ceux qui proviennent d'ailleurs. Notre
                idée du réalisme doit être large et politique, et souveraine à l'égard des conventions. &gt;&gt;</h6>
            <h5 class="text-left" style="margin-left: 252px;">BERTOLT BRECHT</h5>
        </div>
    </div>
    <div class="container" style="background-image: url(&quot;{{ url_for('static', filename='assets/img/91412474_620876285426565_712856741687066624_n.jpg')}}&quot;);background-position: center;background-repeat: no-repeat;background-size: contain;height: 823px;position: relative;">
        <div class="col-xl-4 offset-xl-7">
            <p>Un livre co-édité par LE BAL et MACK, ALEX MAJOLI - SCENE, est publié à l'occasion de l'éxposition.</p>
        </div>
        <div class="col-xl-4 offset-xl-7" style="position: absolute;bottom: 50%;">
            <p style="position: absolute;/*bottom: 50%;*/">Exposition organisée en collaboration avec le Musée d'Art de la ville de Ravenne et Magnum Photos, avec le soutien de l'Institut Culturel Italien de Paris et de la Howard Greenberg Gallery.</p>
        </div>
        <div class="col-xl-4 offset-xl-7" style="position: absolute;bottom: 7px;right: 85px;">
            <p>Partenaires média : Art Press, France Culture.&nbsp; &nbsp; &nbsp; &nbsp;i-D Magazine, L'Oeil de la Photographie, Polka Magazine, Slash/, Télérama.</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>